<div class='visualElement' alt='Radar chart comparing budget and expenses'>
  <div>
    <div style="display: block">
      <canvas baseChart
        [datasets]="radarChartData"
        [options]="radarChartOptions"
        [labels]="radarChartLabels"
        [chartType]="radarChartType"
        [colors]="radarChartColors">
      </canvas>
    </div>
  </div>
</div>

<div class='visualElement' alt = 'Bar chart comparing budget and expenses'>
  <div>
    <div style="display: block">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        [colors]="barChartColors">
      </canvas>
    </div>
  </div>
</div>

<div class='visualElement' alt = 'Pie chart of budget'>
  <div>
    <div class="chart">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>
