app-login, app-register{
  float: left;
}

app-login, app-register{
  float: left;
  width: 20%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  margin-bottom: 15%;
}

app-login{
  margin-left: 19%;
  margin-right: 1%;
}

app-register{
  margin-right: 19%;
  margin-left: 1%;
}
