app-enterbudget, app-enterexpense{
  float: left;
  width: 20%;
  padding: 5%;
}

app-enterbudget{
  margin-left: 19%;
  margin-right: 1%;
}

app-enterexpense{
  margin-right: 19%;
  margin-left: 1%;
}

app-visualization{
  margin: 5%;
}
