<h2>Enter or View Budget</h2>

<div id=budgetTable></div>
<button (click)='delBudget()'>Delete Selected</button>

<form id='enterBudget'>
  <label for='budgetTitleInput'>Budget Title/Category: </label>
  <input type='text' id='budgetTitleInput' name='budgetTitleInput' required='true' form='enterBudget' maxlength='110'>
  <label for='budgetValueInput'>Budget Value: $</label>
  <input type='number' id='budgetValueInput' name='budgetValueInput' required='true' form='enterBudget'><br>
  <button type='reset' id='resetBudgetButton' name='resetBudgetButton'>Reset</button>
  <button (click)='submitBudget()' id='submitBudgetButton' name='submitBudgetButton'>Add Budget Item</button>
</form>
<p class='err' id='enterBudgetError' name='enterBudgetError'></p>
