<h2>Register</h2>

<p class='good' id='registerGood' name='registerGood'></p>

<h4 *ngIf='error' class='err'>{{error}}</h4>
<form (ngSubmit)='submit()' *ngIf='!loginAuth.loggedIn'>
    <label for='username'>Username</label><br>
    <input type='text' name='username' [(ngModel)]='username'><br><br>

    <label for='password'>Password</label><br>
    <input type='password' name='password' [(ngModel)]='password'>

    <p>*Input is case sensitive</p>

    <button data-message='Create Account' type='submit'>Create Account</button><br><br>
</form>

<p class='err' id='registerError' name='registerError'></p>

<p *ngIf='loginAuth.loggedIn'>Already Logged In</p>
